td,
th {
    padding: 20px 45px;
}

@media only screen and (max-width: 768px) {
    table {
        width: 100%;
    }
    .wrapper {
        overflow-x: auto;
    }
    td,
    th {
        padding: 2px;
        font-size: 0.7rem;
    }
}